* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 16px;
  background-color: burlywood;
  ol {
    list-style-position: inside;
    border: 1px solid brown;
    min-height: 400px;
    width: 30vw;
    background-color: white;
    border-radius: 16px;
    padding: 16px;
    color: brown;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    width: 30vw;
    height: 400px;
    span {
      display: flex;
      justify-content: center;
      gap: 8px;
    }
  }
  input {
    border-radius: 8px;
    border: 1px solid brown;
    padding: 6px 8px;
  }
  button {
    background-color: brown;
    border-radius: 8px;
    color: burlywood;
    border: none;
    padding-inline: 16px;
    padding-block: 8px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    &:hover {
      opacity: 0.7;
    }
  }
}